html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50;
  background-color: #002650;
}

@media only screen and (min-width: 501px) {

.mobile {
  display: none;
}

.open {
  display: none;
}

.close {
  display: none;
}

header {
  display: flex;
  background-color: rgb(143, 142, 142);

  width: 100%;
  justify-content: space-between;
}

.fa-user:before {
  display: none;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.firstNav {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.firstNav li {
  list-style-type: none;
  padding: 1rem;
}

.firstNav a {
  text-decoration: none;
  color: white;
}

.secondNav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.secondNav li {
  list-style-type: none;
  padding: 1rem;
}

.secondNav a {
  text-decoration: none;
  color: white;
}

.smallLogo {
  width: 200px;
  padding: 1rem;
  padding-left: 3rem;
  margin: 0;
}

.hero {
  position: relative;
  text-align: left;
  color: white;
  padding: 0;
  margin: 0;
  background-color: #002650;
}

.heroImg {
  display: none;
}

.heroImgDesk {
  width: 100%;
  margin: 0;
  padding: 0;
}

.heroText {
  position: absolute;
  bottom: 80px;
  left: 160px;
}

.heroText p {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  text-shadow: black 1px 1px 5px;
}

.heroButton {
  margin-top: 1rem;
  background-color: #0e86ca;
  border-color: #00aeff;
  border-width: 1px;
  color: white;
  padding: 1rem 9rem;
  font-size: 1rem;
}

.services {
  background-image: url(https://d9me64que7cqs.cloudfront.net/images/common/background-generic-landscape-short-c67b55f50ca032607997398840751185782dd86436566617ed80dd553f62a890f554ca38ef1de26c6d60b4976ebea6145b9916091073d06823aa9853a093f3e7.jpg);
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  padding: 3rem 3rem 3rem 6rem;
  background-color: #002650;
}

.servicesImages {
  display: flex;
  justify-content: space-between;
}

.servicesImages img {
  width: 10%;
  padding-right: 1rem;
}

.appInfo {
  display: flex;
  justify-content: center;
  background-color: #002650;
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.15);
  font-size: 1.5rem;
}

.appDesktop {
  display: flex;
  padding-right: 1rem;
}

.appMobile {
  display: flex;
  padding-left: 1rem;
}

.blueText {
  color: #00aeff;
  padding-left: 1rem;
}

.stories {
  background-image: url(https://d9me64que7cqs.cloudfront.net/images/root/top-stories-events_section-background_lrg-b81ac9b879c693e7e05f049b5f913706fe0bae6e45523140fcf45aa3fac871c488749bf6fe38e89c9f84d372f690e485652fed36d04d5dbb083d99ea38813b4b.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 47%;
  background-color: rgba(0,174,255,.1);
  border: rgba(255, 255, 255, 0.267) 1px solid;
  font-size: 20px;
  margin-bottom: 2rem;
  margin-right: 3rem;
}

.cardImg {
  width: 100%;
}

.cardText {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 7rem;
}

.cardText p {
  margin: 0;
}

.cardTitle {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 1rem;
}

.careers {
  position: relative;
  text-align: left;
  color: white;
  padding: 0;
  margin: 0;
  background-color: #002650;
}

.careersImg {
  width: 100%;
}

.careersDiv {
  position: absolute;
  bottom: 90px;
  left: 70px;
}

.careersDiv h3 {
  font-size: 2rem;
}

.careersDiv p {
  font-size: 1.5rem;
}

.careers button {
  margin-top: 1rem;
  background-color: #0e86ca;
  border-color: #00aeff;
  border-width: 1px;
  color: white;
  padding: .6rem 3rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

footer {
  background-image: url(https://d9me64que7cqs.cloudfront.net/images/common/footer-bg-lg-1ef544513bc161835a4bb721dbde4e1b85ab57f05ddf45ececa5f68aee53273b941f2b3d3a87bf79ed16a39a84e27fe4e056f8f2396dad93d8d41f1ead4b0f63.jpg);
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-bottom: 3rem;
}

.fa-globe-americas {
  color: #00aeff;
}

.language {
  color: rgba(255, 255, 255, 0.7);
  padding: 4rem 0 2.5rem 0;
  margin: 0;
}

.footerImg {
  width: 200px;
  padding-bottom: 2.5rem;
}

.footerMenu {
  color: rgba(255, 255, 255, 0.7);
  font-size: .75rem;
  margin: 0;
  padding-bottom: .5rem;
}

.footerMenuBottom {
  color: rgba(255, 255, 255, 0.7);
  font-size: .75rem;
  margin: 0;
  padding-top: .5rem;
  padding-bottom: 2rem;
}

.copyright {
  color: rgba(255, 255, 255, 0.3);
  font-size: .6rem;
  margin: 0;
}

.trademarks {
  color: rgba(255, 255, 255, 0.7);
}

.esrbCertified{
  padding-right: .25rem;
}
.esrbRating {
  padding-left: .25rem;
}

}


@media only screen and (max-width: 500px) {
.open {
  font-size: 30px;
  float: left;
  margin: 1rem 0 0 1rem;
  display: block;
  cursor: pointer;
}

.desktop {
  display: none;
}

h2 {
  margin-top: 0;
}

header {
  background-color: #151a23;
  display: flex;
  justify-content: space-between;
}

.headerImg {
  width: 150px;
  padding: 13px 0;
  align-self: center;
}

.fa-user {
  color: #00aeff;
  font-size: 1.3rem;
  padding-right: 15px;
  align-self: center;
}

nav {
  width: 0;
  overflow-x: hidden;
  height: 100vh;
  z-index: 1;
  position: fixed;
  background-color: #151a23;
  transition: 0.15s;
  display: block;
}

.topNav {
  display: flex;
  padding-bottom: 10px;
}

.smallLogo {
  width: 200px;
  padding-top: 10px;
  padding-left: 20px;
}

.firstNav {
  list-style-type: none;
  margin-right: 0;
  padding: 0;
}

.firstNav li {
  padding: 1px 20px;
  border-top: .5px solid;
  border-top-color: rgba(255, 255, 255, 0.08);
  border-bottom: 1px black solid;
  border-bottom-color: rgba(255, 255, 255, 0.08);
}

.firstNav li a {
  color:rgba(255, 255, 255, 0.7);
}

.secondNav {
  list-style-type: none;
  margin-right: 0;
  padding: 0;
  padding-top: 8px;
}

.secondNav li {
  padding: 2px 20px;
}

.secondNav li a {
  color:rgba(255, 255, 255, 0.3);
}

nav a {
  clear: left;
  font-size: 16px;
  display: block;
  text-decoration: none;
  padding: .7rem 0;
  transition: 0.3s;
}

.close {
  float: left;
  font-size: 40px;
  font-weight: 50;
  padding-left: 20px;
  padding-top: 0;
  color: #00aeff;
}

.open {
  float: left;
  font-size: 24px;
  font-weight: 50;
  margin: 0;
  padding-left: 15px;
  padding-top: 8px;
  color: #00aeff;
}

.hero {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  height: 355px;
}

.heroImg {
  width: 100%;
  height: 100%;
}

.heroImgDesk {
  display: none;
}

.heroText {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroText p {
  text-shadow: black 1px 1px 5px;
  font-size: 1.5rem;
  font-weight: 600;
}

.heroButton {
  margin-top: 1rem;
  background-color: #0e86ca;
  border-color: #00aeff;
  border-width: 1px;
  color: white;
  padding: 1rem 9rem;
  font-size: 1rem;
}

.services {
  background-image: url(https://d9me64que7cqs.cloudfront.net/images/common/background-generic-landscape-short-c67b55f50ca032607997398840751185782dd86436566617ed80dd553f62a890f554ca38ef1de26c6d60b4976ebea6145b9916091073d06823aa9853a093f3e7.jpg);
  background-position: top;
  background-repeat: no-repeat;
  color: white;
}

h2.servicesTitle{
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2rem 1rem 1rem 1rem;
}

.fa-chevron-right {
  color: #00aeff;
  font-size: 1rem;
  font-weight: 300;
}

.servicesSubtitle {
  color: rgba(255, 255, 255, 0.5);
  padding-left: 1rem;
}

.servicesImages {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.servicesImg {
  width: 45%;
  height: 45%;
  padding-bottom: 2rem;
}

.servicesImgLg {
  display: none;
}

.appInfo {
  background-color: #002650;
  color: white;
}

.appDesktop{
  border: solid 1px rgba(255, 255, 255, 0.15);
  font-size: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  
}

.appMobile {
  border: solid 1px rgba(255, 255, 255, 0.15);
  font-size: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  
}

.fa-desktop {
  color: #00aeff;
}

.fa-mobile-alt {
  color: #00aeff;
}

.blueText {
  color: #00aeff;
  margin-top: 0;
}

.stories {
  background-image: url(https://d9me64que7cqs.cloudfront.net/images/root/top-stories-events_section-background_xs-ce2b7659e4a9224c1aa5b0ae20d145b6e918b1f343f773f20f6be23e864de05899360d0661bffaf605f44faa5890877770e9a7d274a8ef89d937ffd313fcf455.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
}

.stories h2 {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 2rem 1rem .25rem 1rem;
  margin-bottom: 0;
}

.cards {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 47%;
  background-color: rgba(0,174,255,.1);
  border: rgba(255, 255, 255, 0.267) 1px solid;
  font-size: 14px;
  margin-bottom: 2rem;
}

.cardImg {
  width: 100%;
}

.cardText {
  padding-left: 1rem;
  padding-right: 1rem;
}

.cardTitle {
  color: rgba(255, 255, 255, 0.5);
}

.careers {
  background-color: #220e05;
  text-align: center;
  color: white;
}

.careers h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.careers p {
  font-size: 1rem;
  font-weight: 300;
}

.careersImg {
  width: 100%;
}

.careers button {
  margin-top: 1rem;
  background-color: #0e86ca;
  border-color: #00aeff;
  border-width: 1px;
  color: white;
  padding: .6rem 3rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

footer {
  background-image: url(https://d9me64que7cqs.cloudfront.net/images/root/top-stories-events_section-background_xs-ce2b7659e4a9224c1aa5b0ae20d145b6e918b1f343f773f20f6be23e864de05899360d0661bffaf605f44faa5890877770e9a7d274a8ef89d937ffd313fcf455.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-bottom: 3rem;
}

.fa-globe-americas {
  color: #00aeff;
}

.language {
  color: rgba(255, 255, 255, 0.7);
  padding: 4rem 0 2.5rem 0;
  margin: 0;
}

.footerImg {
  width: 200px;
  padding-bottom: 2.5rem;
}

.footerMenu {
  color: rgba(255, 255, 255, 0.7);
  font-size: .75rem;
  margin: 0;
  padding-bottom: .5rem;
}

.footerMenuBottom {
  color: rgba(255, 255, 255, 0.7);
  font-size: .75rem;
  margin: 0;
  padding-top: .5rem;
  padding-bottom: 2rem;
}

.copyright {
  color: rgba(255, 255, 255, 0.3);
  font-size: .6rem;
  margin: 0;
}

.trademarks {
  color: rgba(255, 255, 255, 0.7);
}

.esrbCertified{
  padding-right: .25rem;
}
.esrbRating {
  padding-left: .25rem;
}

}